<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head>
<body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
    <div class="main-box">
      <div class="main-title">Login as User</div>
      <a href="/login_user" class="main-btn">Login User</a>
    </div>
    <div class="main-box">
      <div class="main-title">Login as Admin</div>
      <a href="/login_admin" class="main-btn">Login Admin</a>
    </div>
  </div>
</body>
</html>